<%= render "shared/set-up" %>

<div class="AccountInformation__header">
        <h3>プロフィール</h3>

        <a class="AccountInformation__link" href="/users/profile/edit">
          <img alt="編集アイコン">
          <%= current_user.avatar %>
          編集
</a>      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="image">アイコン画像</label>

        
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="name">名前: <%= current_user.name %></label>

        <br></br>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="introduction">自己紹介</label>

        <p class="AccountInformation__value">
          <%= current_user.name %>
        </p>
      </div>
    

    <p class="AccountInformation__value">
         ----------------------------------------
        </p>
<%= link_to "編集", "/profile/edit", style: "color: blue;" %>