<!DOCTYPE html>
<html>
  <head>
    <title>RailsLesson2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "top","new", :media => "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

  <body>
  <header>
        <nav class="navbar Navbar">
          <div class="container-fluid">
            <a href="/"><img class="Navbar__logo" alt="サイトロゴ" src="/logo.jpeg"></a>

            <div class ="header-item">
              <% if user_signed_in? %>
                <% if current_user.avatar? %>
                  <%= image_tag current_user.avatar.url,class: "user-avatar", style: "float: right;" %>
                <% else %>
                  <%= image_tag ("/default-avatar.png"),class: "user-avatar", style: "float: right;" %>
              <% end %>


              <ul class="navbar-nav flex-row align-items-center">
                
                        <button class="name">名前: <%= current_user.name %> </button>
            

                    <ul class = "ddmenu" data-turbolinks="false">
                        <li><%= link_to "施設の新規登録", "/rooms/new" %></li>
                        <li><%= link_to "予約済み一覧", "/reservations" %></li>
                        <li><%= link_to "登録済み一覧", "/rooms" %></li>
                        <li><%= link_to "アカウント設定", "/users/show" %></li>
                        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete  %></li> <!-- ログアウトをする -->
                    </ul>
                  </div>
                  <% else %>
                               
                
                                <li class="nav-item NavItem">
                                  <!-- ユーザーがログインしていなかった時の処理 -->

                  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
                  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
                <% end %>
                </li>
              </ul>
              
          </div>
        </nav>
    </header>

    <main>
    
      <%= yield %>
    </main>

    <footer class="Footer">
      <div class="container-fluid">
        <a href="/"><img class="Footer__logo" alt="サイトロゴ" src="/logo.jpeg" /></a>

        <p class="Footer__copyright">
          Copyright © HONTA Share 2023 All rights reserved
        </p>
      </div>
    </footer>
  </body>
</html>
